  <div class='wtgrid-top'>
    <div class='wtgrid-inner wtgrid-tl'>
      <div id='word_cloud'></div>
    </div>
    <div class='wtgrid-inner wtgrid-tr'>
      <div id='word_tree'></div>
    </div>
  </div>